$primary-tone: #91C2FF;

body {
	margin-top: 50px;
}

img {
	max-width:100%;
}

video {
	max-width: 100%;
	width:100%;
	display: block;
}

.text-center {
	text-align:center;
}

.padded {
	padding: 45px 0;
	@media all screen and (max-width:750px) {
		padding: 25px 0;
	}
}

.padded-sm {
	padding: 25px 0;
	@media all screen and (max-width:750px) {
		padding: 12px 0;
	}
}

.window {
	padding: 65px 0;
	background-color: #eee;
	&.black {
		background: #333;
		color: #fff;
	}
	&.blue {
		background: $primary-tone;
		color: #fff;
	}
	@media all screen and (max-width:750px) {
		padding: 30px 0;
	}
}